<nav class="header-nav">
  <span class="nav-gif">
    <img src="{{ baseurl }}/images/cat-roll-frame20.png"
         id="nav-gif"
         alt="Pixel Art GIF"
         width="36"
         height="36"
         style="cursor:pointer;">
  </span>

  {% set nav_links = [
    {"href": baseurl ~ "/index", "text": "Me"},
    {"href": baseurl ~ "/notes/index", "text": "Notes"},
    {"href": baseurl ~ "/bookshelf", "text": "Bookshelf"},
    {"href": baseurl ~ "/birb", "text": "???"}
  ] %}

  {% for link in nav_links %}
    <a href="{{ link.href }}"
       class="{% if current_page == link.href %}active{% endif %}">
      {{ link.text }}
    </a>
  {% endfor %}
</nav>
