<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>Del's kiosk</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.gif">
<link rel="stylesheet" href="{% if note or notes %}../styles.css{% else %}styles.css{% endif %}">
</head>
<body>
  <header>
    <div class="header-container" id="nav-container">
      {% include "_header.html" %}
    </div>
  </header>
    {% block content %}{% endblock %}
    {% include "_footer.html"%}

  <script src="{% if note or notes %}../js/pause_gif.js{% else %}js/pause_gif.js{% endif %}"></script>
</body>
</html>
