

{% extends "base.html" %}
{% block content %}
<main>
    <article>
      <h2>Del's Kiosk</h2>
      <p>Hi, I'm Del.</p>
      <p> I'm a data engineer by trade. My main interest is in real-time systems, performance and game dev.
      This blog is where I post about various topics that I've read about. I use it as a way to solidify what I have learned about
      a given subject.</p> 

      <!-- Social Links Section -->
<div class="social-links">
  <a href="https://github.com" class="social-link github" target="_blank">GitHub</a>
  <a href="mailto:you@example.com" class="social-link email">Email</a>
  <a href="http://del0x.itch.io/" class="social-link itch">Itch</a>

</div>

    </article>
  </main>
  {% endblock %}